<!DOCTYPE html>
<html lang="en">
<head>
	<title>School Management System</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    
	
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
	<style>

.center {
 
 margin: auto;
 width: 50%;
 padding: 10px;
}

	</style>
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">

                {% block content %}


                {% endblock %} 

				<div class="login100-more" style="background-image: url('{{ url_for('static', filename='images/bg-01.jpg') }}');">

				</div>
			</div>
		</div>
	</div>
	
	 <!-- JavaScript -->
	<script src="static/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>

</body>
</html>